<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.benio.demoproject">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".customview.CustomViewActivity">
        </activity>
        <activity android:name=".progress.ProgressActivity">
        </activity>
        <activity android:name=".span.SpanActivity">
        </activity>
        <activity android:name=".adapterlayout.AdapterLayoutActivity">
        </activity>

        <receiver android:name=".boot.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".web.WebViewActivity">
        </activity>
        <activity android:name=".web.SalesTargetActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="salestarget"
                    android:path="/viewOrgSalesTarget"
                    android:scheme="magapp"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".share.ShareTextResultActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.ycf.pda"/>

                <action android:name="android.intent.action.SEND"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".gesturelock.LockActivity">
        </activity>
        <activity android:name=".fingerprint.FingerprintActivity">
        </activity>
        <activity android:name=".db.SQLiteActivity">
        </activity>
        <activity android:name=".pinnedsection.PinnedSectionActivity">
        </activity>
        <activity android:name=".compoundbutton.CompoundButtonActivity">
        </activity>
    </application>

</manifest>